<p>Hello,</p>
<p>{{inviterName}} invited you to collaborate on <strong>{{projectName}}</strong>.</p>
<p>Your permission: <strong>{{permission}}</strong></p>
<p><a href="{{url}}">Accept invitation</a></p>
<p>This invitation expires on {{expiresAt}}.</p>
